.cart-item{
  width : 100% ;
  overflow: hidden;
  display : flex ; 
  margin-bottom : 1rem;
  position: relative;
  img{
    width : 75px;
    height : 75px;
    margin-right : 1rem;
  }
  .item-details{
    display : flex ; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    .name {
      font-size : 1.2em;
    }  
  }
  
  
}